.in_content_container {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 128px;
  height: 128px;
  background-color: white;
  z-index: 10000;
}

.in_content_container > p  {
  color: black;
  font-size: 13px;
}

.jiaran_pic_container {
  position: absolute;
  width: auto;
  max-width: 100vw;
  height: auto;
  z-index: 10000;
  border: 2px solid black;
  top: 0;
  left: 0;
  z-index: 10000;
}

.jiaran_notic_container {
  position: fixed;
  top: 60px;
  transform: translate(0, -50%);
  left: 45%;
  z-index: 9999;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.jiaran_notic_focus {
  color: orange;
  margin: 0 5px;
  font-size: 18px;
  font-weight: 900;
}
.jiaran_notic_container > p {
  font-size: 15px;
  font-weight: 600;
}
